a:link    { color:#0000FF; text-decoration: none; }
a:visited { color:#2200CC; text-decoration: none; }
a:hover   { color:#AA0000; text-decoration: underline; }
a:active  { color:#FF0000; text-decoration: underline; }

body {
  margin-left:   8em;
  margin-right:  8em;
  margin-top:    3em;
  margin-bottom: 3em;
  font-family: "Calibri", "Arial", sans-serif;
  font-size:   18px;
  line-height: 26px;
  color: #444;
}

code {
  font-family: "Consolas", "Courier New", monospace;
  font-size: 15px;
  color: #999;
}

tt {
  font-family: "Consolas", "Courier New", monospace;
  font-size: 15px;
}

pre {
  line-height: 18px;
  font-family: "Consolas", "Courier New", monospace;
  font-size: 15px;
  color: #999;
}

pre.small {
  font-size: 12px;
}

span.popup {
  border-bottom: 1px dashed gray;
}

img.thumbnail {
  margin: 0px 0px 0px 0px;
}

/* Table of examples */

table.examples {
  table-layout: fixed;
}

td.image {
  width: 25%;
  vertical-align: top;
  padding: 8px 8px 8px 0px;
}

td.descr {
  width: 75%;
  vertical-align: top;
  padding: 8px 0px 8px 8px;
}

img.screenshot {
  width: 100%;
  margin: 8px 0px 0px 0px;
}

/* Table of images */

table.catalog {
  font: inherit;
  margin-left: auto;
  margin-right: auto;
}

td.file {
  vertical-align: baseline;
  padding-right: 1em;
}

td.size {
  vertical-align: baseline;
  padding-right: 1em;
  text-align: right;
  color: gray;
}

td.hash {
  vertical-align: baseline;
  font-family: "Consolas", "Courier New", monospace;
  font-size: 66%;
  text-align: right;
  color: gray;
}

h1 {
  text-align: center;
  font-size: 64px;
  line-height: 84px;
  background-color: #DDD;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px #AAA;
  background:         radial-gradient(center top, circle, #EEE, #DDD);
  background: -webkit-radial-gradient(center top, circle, #EEE, #DDD);
}

p.lead {
  font-size:   125%;
  line-height: 150%;
}

p.center {
  text-align: center;
}
